<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzy Data Map Viewer</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div id="overlay-text">Placeholder</div>
        <div id="servos">
            left (1) -, right (3): --
        </div>
        <div id="relays">
            water (4): -, buffer (5): -
        </div>
        <div id="status">
            status: -
        </div>
    </div>

    <script>
        const socket = new WebSocket(`ws://${window.location.host}:6040/ws/mavlink`)

        socket.addEventListener('message', function (event) {
            let data = JSON.parse(event.data)
            switch (data.message.type) {
                case 'SERVO_OUTPUT_RAW':
                    const {servo1_raw, servo3_raw, servo4_raw, servo5_raw} = data.message
                    document.getElementById('servos').textContent = `left (1) ${servo1_raw}, right (3): ${servo3_raw}`
                    document.getElementById('relays').textContent = `water (4): ${data.message.servo4_raw}, buffer (5): ${data.message.servo5_raw}`
                    break
                case 'STATUSTEXT':
                    document.getElementById('status').textContent = `status: ${data.message.text.join('')}`
                    break
                default:
                    break
            }
        })

    </script>
</body>
</html>
